@font-face {
  font-family: 'davekregular';
  src: url('../fonts/davek/davek-webfont.woff2') format('woff2'),
       url('../fonts/davek/davek-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'barazhadregular';
  src: url('../fonts/barazhad/barazhad-webfont.woff2') format('woff2'),
       url('../fonts/barazhad/barazhad-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'iokharicregular';
  src: url('../fonts/iokharic/iokharic-webfont.woff2') format('woff2'),
       url('../fonts/iokharic/iokharic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rellanicregular';
  src: url('../fonts/rellanic/rellanic-webfont.woff2') format('woff2'),
       url('../fonts/rellanic/rellanic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}